<h1>Editing Cinema Film Connection</h1>

<%= render 'form', cinema_film_connection: @cinema_film_connection %>

<%= link_to 'Show', @cinema_film_connection %> |
<%= link_to 'Back', cinema_film_connections_path %>
